<!DOCTYPE html> 
<html> 
  
<head> 
    <title>HB FILE UPLOAD</title> 
</head> 
  
<body> 
    <h1>HB FILE UPLOAD</h1> 
   
    <form action="images/uploadImage" 
      enctype="multipart/form-data" method="POST"> 
      
        <span>Upload Image:</span>   
        <input type="file" name="mypic" required/> <br> 
        <input type="submit" value="Submit">  
    </form> 
</body> 
  
</html> 